{% extends 'capas/base.html' %}
{% block content %}
<header>
    <div>
        <nav class="navbar navbar-expand-sm bg-info-subtle" , id="nave_adm">
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <div class="navbar font-weight-bold">
                    Perfil administrativo
                </div>
            </div>
        </nav>
    </div>
</header>

<button class="btn btn-primary bg-info-subtle my-3 text-black" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">Menú📃</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header bg-dark">
        <h3 class="offcanvas-title text-white" id="offcanvasScrollingLabel">Menú</h3>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class=" offcanvas-body bg-info-subtle">
        <ul class="list-group">
            <li class="list-group-item"><a href="/elegir_usuario/">Usuarios</a></li>
            <li class="list-group-item"><a href="/registro_conductor/">Conductores</a></li>
            <li class="list-group-item"><a href="#">Clientes</a></li>
            <li class="list-group-item"><a href="/registro_vehiculo/">Vehiculos</a></li>
            <li class="list-group-item"><a href="/registro_ruta/">Rutas</a></li>
            <li class="list-group-item"><a href="/registro_viaje/">Viajes</a></li>
            <li class="list-group-item"><a href="#">Tickets</a></li>
        </ul>
    </div>
</div>

{% endblock %}