{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/estilo.css' %}" rel="stylesheet" />
</head>

<body class="bg-dark" >
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" , id="nave">
        <div class="container-fluid">
            <a class="navbar-brand"  href="{% url "venta" %}">
                <img src="{% static '/img/im.webp' %}" alt="Foto personal" style="width:100px;" class="rounded-pill">
                <div class="nombre">
                    OnRoad
                </div>
            </a>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm bg-info-subtle justify-content-center">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Mis tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url "venta" %}">Comprar ticket</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Mi perfil</a>
          </li>
        </ul>
      </nav>
    {% block content %}

    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

<nav class="navbar navbar-expand-sm bg-info-subtle justify-content-center">
  <ul class="navbar-nav d-flex w-100">
    <li class="nav-item flex-fill text-center">
      <a class="nav-link d-block" href="#">Ángel de la Cruz 21-1380 || Omar Aquino 21-0689</a>
      
    </li>
    <li class="nav-item flex-fill text-center">
      <a class="nav-link d-block" href="#">Proyecto final LP1</a>
    </li>
    <li class="nav-item flex-fill text-center">
      <a class="nav-link d-block" href="#">Página Web para gestión de compra de tickets</a>
    </li>
  </ul>
</nav>


</html>