{% extends 'capas/baseadmin.html' %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container-sm col-md-8 my-5 bg-info-subtle rounded">
  <h1 class="text-black">Registro de viajes</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Marca del vehiculo</label>
      <input type="text" class="form-control bg-trasnparent" id="inputEmail4" placeholder="Marca">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Modelo del vehiculo</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Modelo">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Año fabricación</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Año">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Capacidad</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Capacidad">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Placa</label>
      <input type="text" class="form-control" id="inputPassword4" placeholder="Placa">
    </div>
    <div class="col-md-3">
      <label for="inputState" class="form-label">Estado</label>
      <select id="inputState" class="form-select">
        <option selected>Disponible</option>
        <option selected>Fuera de servicio</option>
      </select>
    </div>
    <div class="col-12 my-4">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>

{% endblock %}