{% extends 'capas/baseadmin.html' %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container-sm col-md-8 my-5 bg-info-subtle rounded">
  <h1 class="text-black">Registro de viajes</h1>
  <form class="row g-3" method="POST">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="inputRoutes" class="form-label">Ruta</label>
      <select id="inputRoutes" name="inputRoutes" class="form-select">
        {% for ruta in rutas %}
        <option selected value="{{ruta.rutaid}}">{{ruta.origen}} - {{ruta.destino}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputVehicules" class="form-label">Vehiculo</label>
      <select id="inputVehicules" name="inputVehicules" class="form-select">
        {% for vehiculo in vehiculos %}
        <option selected value="{{vehiculo.vehiculoid}}">{{vehiculo.modelo}} {{vehiculo.marca}} ({{vehiculo.placa}})</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-3">
      <label for="inputDateDeparture" class="form-label">Fecha de salida</label>
      <input type="date" class="form-control" id="inputDateDeparture" name="inputDateDeparture"
        placeholder="dd/mm/yyyy">
    </div>
    <div class="col-md-3">
      <label for="inputTimeDeparture" class="form-label">Hora salida</label>
      <input type="time" class="form-control" id="inputTimeDeparture" name="inputTimeDeparture"
        placeholder="hh:mm AM/PM">
    </div>
    <div class="col-md-3">
      <label for="inputDateArrive" class="form-label">Fecha llegada</label>
      <input type="date" class="form-control" id="inputDateArrive" name="inputDateArrive" placeholder="dd/mm/yyyy">
    </div>
    <div class="col-md-3">
      <label for="inputTimeArrive" class="form-label">Hora llegada</label>
      <input type="time" class="form-control" id="inputTimeArrive" name="inputTimeArrive" placeholder="hh:mm AM/PM">
    </div>
    <div class="col-md-4">
      <label for="inputQuotas" class="form-label">Cupos totales</label>
      <input type="number" class="form-control" id="inputQuotas" name="inputQuotas" placeholder="Cantidad de pasajeros">
    </div>
    <div class="col-12 my-4">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>

{% if messages %}
{% for message in messages %}
{% if message.type == "error" %}
<script>
  Swal.fire("Error", "{{ message }}", "error");
</script>
{% elif message.type == "success" %}
<script>
  Swal.fire("Success", "{{ message }}", "success")
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}