{% extends 'capas/baseadmin.html' %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container-sm col-md-8 my-5 bg-info-subtle rounded">
  <h1 class="text-black">Registro de viajes</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputState" class="form-label">Ruta</label>
      <select id="inputState" class="form-select">
        <option selected>Santo Domingo - Santiago</option>
        <option selected>Santiago - Santo Domingo</option>
        <option selected>Santo Domingo - La Romana</option>
        <option selected>La Romana - Santo Domingo</option>
      </select>
    </div>
    <div class="col-md-6">
      <label for="inputState" class="form-label">Vehiculo</label>
      <select id="inputState" class="form-select">
        <option selected>Vehiculo 1</option>
        <option selected>Vehiculo 2</option>
        <option selected>Vehiculo 3</option>
        <option selected>Vehiculo 4</option>
        <option selected>Vehiculo 5</option>
        <option selected>Vehiculo 6</option>
        <option selected>Vehiculo 7</option>
        <option selected>Vehiculo 8</option>
      </select>
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Fecha de salida</label>
      <input type="date" class="form-control" id="inputPassword4" placeholder="dd/mm/yyyy">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Hora salida</label>
      <input type="time" class="form-control" id="inputPassword4" placeholder="hh:mm AM/PM">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Fecha llegada</label>
      <input type="date" class="form-control" id="inputPassword4" placeholder="dd/mm/yyyy">
    </div>
    <div class="col-md-3">
      <label for="inputPassword4" class="form-label">Hora llegada</label>
      <input type="time" class="form-control" id="inputPassword4" placeholder="hh:mm AM/PM">
    </div>
    <div class="col-md-4">
      <label for="inputAddress" class="form-label">Cupos totales</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Cantidad de pasajeros">
    </div>
    <div class="col-12 my-4">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>
{% endblock %}