{% extends 'capas/baseadmin.html' %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container-sm col-md-8 my-5 bg-info-subtle rounded">
  <h1 class="text-black">Registro de rutas</h1>
  <form class="row g-3">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Lugar de origen</label>
      <input type="email text-body-dark" class="form-control bg-trasnparent" id="inputEmail4" placeholder="Salida">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Lugar de destino</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Destino">
    </div>
    <div class="col-md-4">
      <label for="inputAddress" class="form-label">Distancia</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Distancia (kms)">
    </div>
    <div class="col-md-4">
      <label for="inputAddress2" class="form-label">Duración estimada</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Duración estimada">
    </div>
    <div class="col-md-4">
      <label for="inputAddress2" class="form-label">Precio base</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Precio base">
    </div>
    <div class="col-12 my-4">
      <button type="submit" class="btn btn-primary">Registrar</button>
    </div>
  </form>
</div>
{% endblock %}