{% extends 'capas/baseadmin.html' %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container my-5 rounded ">
  <div id="accordion">
    {% for vehiculo in vehiculos %}
    <div class="card my-4  text-black">
      <div class="card-header bg-white text-black d-flex justify-content-between align-items-center">
        <a class="btn text-black" data-bs-toggle="collapse" href="#collapseOne">Vehículo {{ vehiculo.vehiculoid }}</a>
        <div class="align-items-right">
          <a class="btn text-bg-red text-white" href="eliminar_vehiculo/" alt="Eliminar" title="Eliminar"><i
              class="fa-solid fa-trash" style="color: #cf2507;"></i></a>
          <a class="btn text-bg-green text-white" href="editar_vehiculo/" alt=" Editar" title="Editar"><i class="
            fa-solid fa-pen-to-square" style="color: #296ce0;"></i></a>
        </div>
      </div>
      <div id="collapseOne" class="collapse show bg-info-subtle text-white" data-bs-parent="#accordion">
        <div class="card-body text-black">Marca: {{ vehiculo.marca }}</div>
        <div class="card-body text-black">Modelo: {{ vehiculo.modelo }}</div>
        <div class="card-body text-black">Capacidad: {{ vehiculo.capacidad }}</div>
        <div class="card-body text-black">Año fabricación: {{ vehiculo.anofabricacion }}</div>
        <div class="card-body text-black">Placa: {{ vehiculo.placa }}</div>
        <div class="card-body text-black">Estado: {{ vehiculo.estado }}</div>
        <div class="card-body text-black">Identificador del conductor: {{ vehiculo.conductorid.nombre }} {{ vehiculo.conductorid.apellido }} ({{ vehiculo.conductorid.conductorid }})</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}