{% extends 'capas/baselogin.html' %}
{% block title %}
  OnRoad
{% endblock %}
{% block content %}
  <div class="container-sm p-5 my-5 bg-info-subtle text-black rounded">
    <form method="POST">
      {% csrf_token %}
      <h2>Inicio de sesión</h2>
      <div class="mb-3 mt-3">
        <label for="usuario" class="form-label">Usuario/Correo Electrónico:</label>
        {{ form.usuario }}
      </div>
      <div class="mb-3">
        <label for="contraseña" class="form-label">Contraseña:</label>
        {{ form.contraseña }}
      </div>
      <button type="submit" class="btn btn-primary">Inicio</button>
    </form>
  </div>

  {% if messages %}
    {% for message in messages %}
      <script>
        Swal.fire('Error', '{{ message }}', 'error')
      </script>
    {% endfor %}
  {% endif %}


  {% if not request.user.is_authenticated %}
    {% if is_a_logout %}
    <script>
        Swal.fire('Fuera de sesión', 'Su sesión ha expirado. Favor iniciar sesión de nuevo para poder continuar', 'warning');
    </script>
    {% endif %}
  {% endif %}

{% endblock %}
