{% extends 'capas/baseadmin.html' %}

{% block title %}
{{ titulo }}
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container my-5 rounded ">
  <div id="accordion">
    {% for viaje in viajes %}
    <div class="card my-4 text-black">
      <div class="card-header bg-white text-black d-flex justify-content-between align-items-center">

        <a class="btn text-black" data-bs-toggle="collapse" href="#collapseOne">Viaje {{ viaje.viajeid }}</a>
        <div class="align-items-right">
          <a class="btn text-bg-green text-white" href="comprar_ticket/" alt="Comprar" title="Comprar"><i
              class="fa-solid fa-money-bill" style="color: #10bc5b;"></i></a>
        </div>
      </div>
      <div id="collapseOne" class="collapse show bg-info-subtle text-white" data-bs-parent="#accordion">
        <div class="card-body text-black">Identificador de la ruta: {{ viaje.viajeid }}</div>
        <div class="card-body text-black">Identificador del vehículo: {{ viaje.vehiculoid.placa }}</div>
        <div class="card-body text-black">Fecha y hora de salida: {{ viaje.fechahorasalida }}</div>
        <div class="card-body text-black">Fecha y hora de llegada: {{ viaje.fechahorallegadaestimada }}</div>
        <div class="card-body text-black">Cupos disponibles: {{ viaje.cuposdisponibles }}</div>
      </div>
    </div>
  </div>
</div>


{% endblock %}