{% extends 'capas/base.html' %}

{% block title %}
  Comprar Tickets
{% endblock %}

{% block content %}
  {{ block.super }}
  <div class="container my-5 rounded">
    <div id="accordion">
      {% for viaje in viajes %}
        <div class="card my-4 text-black">
          <div class="card-header bg-white text-black d-flex justify-content-between align-items-center">
            <a class="btn text-black" data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}">Viaje {{ viaje.viajeid }}</a>
            <div class="align-items-right">
              <a class="btn text-bg-green text-white" href="comprar_ticket/" alt="Comprar" title="Comprar"><i class="fa-solid fa-money-bill" style="color: #10bc5b;"></i></a>
            </div>
          </div>
          <div id="collapse{{ forloop.counter }}" class="collapse bg-info-subtle text-white" data-bs-parent="#accordion">
            <div class="card-body text-black">
              <strong>No. de ruta</strong>: {{ viaje.viajeid }}
            </div>
            <div class="card-body text-black">
              <strong>Vehículo</strong>: {{ viaje.vehiculoid }}
            </div>
            <div class="card-body text-black">
              <strong>Fecha y hora de salida</strong>: {{ viaje.fechahorasalida }}
            </div>
            <div class="card-body text-black">
              <strong>Fecha y hora de llegada</strong>: {{ viaje.fechahorallegadaestimada }}
            </div>
            <div class="card-body text-black">
              <strong>Cupos restantes</strong>: {{ viaje.cuposdisponibles }}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
